body {
  font-family: sans-serif;
}

#text-box {
  width: 50vw;
  height: 100vh;
  margin: 5px;
  outline: none;
}

.dark-mode {
  background-color: black;
  color: #999999
}

.light-mode {
  background-color: #41754f;
}

.dark-mode-text-box {
  background-color: black;
}

.light-mode-text-box {
  background-color: white;
}

#dark-mode-btn {
  outline: none;
}